.loader {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

h1 {
  font-size: 4em;
  padding: 1em;
  text-align: center;
}

button {
  display: block;
  padding: 1em;
  font-size: 1.5em;
  margin: 0 auto;
}
